boddy{
	padding-top:100px;
	font-family: 'Raleway', sans-serif;
	
	margin:0;
	
}
.resimSlider{
	margin-top: 50px;
	height: 663px;

}


.hakkimda{
	background-image: url(images/resim.jpeg);
	background-size: 100%;
	background-position: center;
	font-style: italic;
	color: #1A374D;
}
.resim{
	position: relative;
	width: 100px;
}


@media only screen and (min-width:960px) {
	.sehrim{width:100px;}
}

.ozgecmis {
	width:auto;
	height:auto;
	background:#5ea99e;
	color:#0f0f0f;
	font-family: Arial;
	margin:auto;
	margin-top:5px;
	font-style: italic;
}
	
/* .sehrim {
	width: auto;
	height: auto;
	background:#cccccc;
	color:#0f0f0f;
	font-family: Arial;
	margin:0 auto;
	margin-top:30px;
	padding:20px;
} */


.login{
	background-image: url(images/resim.jpeg);
	background-position: center;
	background-size: 90%;
	width: 100%;
    padding: 10px;
	height:auto;
	color:#0f0f0f;
	font-family: Arial;
	margin:0 auto;
	padding-top: 10%;
	padding-bottom:16%;
	align-items: center;
	text-align: center;

	
	
}
.loginn{
	font-style: italic;
	margin-bottom: 10px;
	font-size: 15px;
	text-shadow: 1px 3px rgba(0,0,0,.1);
	opacity: 0.9;

}

.ilgialanlarim{
	width:auto;
	height:auto;
	background:#5ea99e;
	color:#1A374D;
	font-family: Arial;
	margin: auto;
	margin-top:30px;
	padding:50px;
	font-style: italic;
	
}

.iletisim{
	background-image: url(images/resim.jpeg);
	background-position: center;
	background-size: 80%;
	width:auto;
	height:auto;
	font-family: Arial;
	margin:0 auto;
	margin-top:30px;
	padding:20px;
}

#prusiasad{
	margin-top: 5%;
}

#prusiasresim{
	margin-top: 30px;
	width: auto;
	height: auto;
	background-position: center;
}

#prusiasgrnt{
	margin-top: 50px;

	
}
#resim1{
	margin-left: 25%;
	margin-top: 100px;
}

.prusias{
	background: #F9EBC8;
}

.footer{
	background: #2B2B2B;;
}

.video{
	padding-bottom: 50½;

}

#konuralpResim{
	margin-top: 30px;
	margin-bottom: auto;
	width: auto;
	height: 500px;
	background-position: center;
	align-items: center;
	margin-bottom: 2%;
}
#GüzeldereResim{
	text-align: center;
	margin-left: 25%;
	margin-bottom: 2%;

}

